@import "variables";

::selection {
  color: #eee;
  background-color: $daily-dark-blue;
}

a {
  color: $daily-dark-blue;
  text-decoration: none;
}

html, body{
  min-height: 100%;
}

body{
  height: 100%;
  margin: 0;
}

*{
  font-family: 'camingodos-web', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

ul{
  list-style: none;
  margin: 0; padding: 0;
  li{padding: 0;}
}

.back{
  width: 100%;
  height: 100%;
  padding: 24px;
  background: url(../img/back.jpg) no-repeat bottom center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .block{
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 900px;
    margin: auto;

    .intro{
      display: flex;

      .img{
        padding: 12px;

      }

      .txt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 24px 0 0;
        font-size: 30px;
      }
    }

    .links{
      padding: 12px 0 24px 0;
      text-align: center;
      font-size: 0;

      .link{
        display: inline-block;
        width: 16.6%;

        img{
          width: 50px;
        }
      }
    }
  }
}

@media (max-width: $break-medium){
  .back{
    .block .intro .img{
      display: none;
    }

    .block .intro .txt{
      padding: 24px;
      text-align: center;
      font-size: 26px;
    }

    .block .links .link img{
      width: 40px;
    }
  }
}

@media (max-width: $break-small){
  .back{
    .block .intro .txt{
      font-size: 22px;
    }

    .block .links{
      padding: 0 0 12px 0;

      .link{
        width: 33.2%;
        margin-bottom: 12px;

        img{
          width: 30px;
        }
      }
    }
  }
}
