<footer>
    <div>
        <div class="col left">
            <a href="#">Home</a>
            <a href="#">Projects</a>
        </div><div class="col right">
        <a href="mailto:adrien@gsell.me" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-1.png"></a>
        <a href="http://twitter.com/gsellator" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-2.png"></a>
        <a href="http://www.linkedin.com/profile/view?id=119874155" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-3.png"></a>
        <a href="http://www.viadeo.com/profile/002157uwazg6vggd" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-4.png"></a>
        <a href="https://github.com/gsellator" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-5.png"></a>
        <a href="http://instagram.com/gsellator" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-6.png"></a>
        <a href="http://www.meetup.com/members/108004542/" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-7.png"></a>
        </div>
    </div>
</footer>
