<footer>
    <div>
        <div class="col left">
            <a href="#">-</a>
        </div><div class="col middle">
        <img class="foot-ico" src="/img/foot-main.png">
        </div><div class="col right">
        <a href="#"><img class="foot-ico" src="/img/foot-1.png"></a>
        <a href="#" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-2.png"></a>
        </div>
    </div>
</footer>
