<header id="nav">
    <div class="content">
        <a href="/#art-1" class="logo"></a>
        <nav>
            <ul class="nav">
                <li><a href="/#art-1">-</a>
                </li><li><a href="/#art-2">-</a>
                </li>
            </ul>
        </nav>
    </div>
</header>