<!doctype html>
<html lang="fr">
    <%- include partials/head.ejs %>
    <!--    <script type="text/javascript" src="/js/script.js"></script>-->

    <body>
        <div id="container" style="padding: 0;">
            <article id="art-3">

                <div>
                    <div>CookieMonster / 2011</div>
                    <div>Dans certaines conditions, l'utilisation de réseaux WiFi ouverts peut rendre les internautes vulnérables à l'usurpation d'identité via le vol de Cookies. Ce rapport en anglais présente ce problème <a href="https://www.owasp.org/index.php/Top_10_2010-A3">très sérieux</a><a></a>, pointé du doigt par l'<a href="http://fr.wikipedia.org/wiki/Open_Web_Application_Security_Project">OWASP</a>, et les moyens à mettre en oeuvre pour s'en protéger.</div>
                </div>

                <div>
                <div>Séminaire sur le Green-IT / 2010</div>
                    <div>Les technologies de l'information constituent un domaine en pleine expansion à l'emprunte écologique toujours plus importante. Ce document, tiré du séminaire consacré au Green-IT, revient sur les enjeux auxquels est confronté ce secteur en terme de développement durable.</div>
                </div>
                
                
                <div>
                    <div>EFREI Campus Durable / 2010</div>
                    <div>Dossier préliminaire à la mise en place d'un système de tri sélectif des déchets à l'EFREI, ce rapport contient les propositions des membres de l'association Symbios pour faire du campus de l'école un Campus Durable en réduisant son empreinte carbone.</div>
                </div>
                
                
                <div>
                    <div>Introduction au Green-IT / 2009</div>
                    <div>Contrairement aux apparences, l'emprunte écologique des technologies de l’information est considérable : l'informatique représente est déjà à l'origine de 3% des émissions mondiales de dioxyde de carbone. Nous présentons ici les enjeux du développement durable dans ce domaine.</div>
                </div>
                
                
                <div>
                    <div></div>
                    <div></div>
                </div>
                
                
                <div>
                    <div></div>
                    <div></div>
                </div>
                
                
                <div>
                    <div></div>
                    <div></div>
                </div>


            </article>
        </div>
    </body>
</html>