<!doctype html>
<html lang="fr">
    <%- include partials/head.ejs %>

    <body>
        <div id="container">
            <article id="art-2">
                <section class="title">
                    <h2>Side projects</h2>
                </section>

                <section class="item">
                    <div class="img">
                        <img src="/img/side-manu.png">
                    </div><div class="txt">
                    <div class="title">ManuMakesMovies</div>
                    <div class="content">
                        Corporate website 
                    </div>
                    <ul class="labels">
                        <li class="year">2014</li>
                        <li>Webdesign</li>
                        <li>https://github.com/gsellator/Telex2000</li>
                    </ul>
                    </div>
                </section>

                <section class="item">
                    <div class="txt">
                        <div class="title">Dailymood</div>
                        <div class="content">
                            ---
                        </div>
                        <ul class="labels">
                            <li class="year">2014</li>
                            <li>NodeJS</li>
                            <li>Open source</li>
                            <li>https://github.com/gsellator/Telex2000</li>
                        </ul>
                    </div><div class="img">
                    <img src="/img/side-radio.png">
                    </div>
                </section>

                <section class="item">
                    <div class="img">
                        <img src="/img/side-telex.png">
                    </div><div class="txt">
                    <div class="title">Telex2000</div>
                    <div class="content">
                        Telex2000 is a minimalistic app that let you send small messages to a 
                        <a href="http://littleprinter.com/">Little Printer</a> you own 
                        without having to be logged on BERG Cloud official system.
                    </div>
                    <ul class="labels">
                        <li class="year">2014</li>
                        <li>NodeJS</li>
                        <li>Open source</li>
                        <li>https://github.com/gsellator/Telex2000</li>
                    </ul>
                    </div>
                </section>

                <!--
<section class="item">
<div class="txt">
<div class="title">Stage TF1</div>
<div class="content">
Telex2000 is a minimalistic app that let you send small messages to a 
<a href="http://littleprinter.com/">Little Printer</a> you own 
without having to be logged on BERG Cloud official system.
</div>
<ul class="labels">
<li class="year">2014</li>
<li>NodeJS</li>
<li>Open source</li>
<li>https://github.com/gsellator/Telex2000</li>
</ul>
</div><div class="img">
<img src="/img/side-telex.png">
</div>
</section>

<section class="item">
<div class="img">
<img src="/img/side-radio.png">
</div><div class="txt">
<div class="title">Radio 97</div>
<div class="content">
---
</div>
<ul class="labels">
<li class="year">2011-2012</li>
<li>NodeJS</li>
<li>Open source</li>
<li>https://github.com/gsellator/Telex2000</li>
</ul>
</div>
</section>

<section class="item">
<div class="img">
<img src="/img/side-cookie.png">
</div><div class="txt">
<div class="title">Cookie Monster</div>
<div class="content">
During my university years @EFREI_officiel, I co-funded an association dedicated to Green-IT. We publicated a
Symbios
</div>
<ul class="labels">
<li class="year">2008-2010</li>
<li>NodeJS</li>
<li>Open source</li>
<li>https://github.com/gsellator/Telex2000</li>
</ul>
</div>
</section>

<section class="item">
<div class="img">
<img src="/img/side-symbios.png">
</div><div class="txt">
<div class="title">Symbios</div>
<div class="content">
During my IT-university years, I co-funded an association dedicated to Green-IT. 
</div>
<ul class="labels">
<li class="year">2008-2010</li>
<li>NodeJS</li>
<li>Open source</li>
<li>https://github.com/gsellator/Telex2000</li>
</ul>
</div>
</section>
-->
            </article>
            <%- include partials/footer.ejs %>
        </div>
    </body>
</html>