<!doctype html>
<html lang="fr">
    <%- include partials/head.ejs %>
    <!--    <script type="text/javascript" src="/js/script.js"></script>-->

    <body>
        <div id="container" style="padding: 0;">
            <article id="art-2">
                
            
            </article>
        </div>
    </body>
</html>