@-ms-viewport {
  width: device-width;
}

@font-face{
  font-family:"Museo";
  font-weight: 100;
  src:url("../files/Museo100-Regular.otf") format("opentype");
}

@font-face{
  font-family:"Museo";
  font-weight: 300;
  src:url("../files/Museo300-Regular.otf") format("opentype");
}

@font-face{
  font-family:"Museo";
  font-weight: 500;
  src:url("../files/Museo500-Regular.otf") format("opentype");
}

@font-face{
  font-family:"Museo700";
  font-weight: 700;
  src:url("../files//Museo700-Regular.otf") format("opentype");
}

@font-face{
  font-family:"Museo";
  font-weight: 900;
  src:url("../files/Museo900-Regular.otf") format("opentype");
}

.visible-phone {
  display: none;
}

.content {
  margin: auto; 
  min-width: 290px;
  max-width: 1920px;
}

body { 
  font-family: 'Museo', 'Economica', "HelveticaNeueLTStd-Cn", "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-weight: 100;
  font-size: 14px;
  margin: 0;
}

footer {
  text-align: center;
  padding-top: 8px;
  margin-bottom: 8px;
}

a {
  text-decoration: none;
  color: #DD080E;
}

a:hover {
  text-decoration: underline;
}

menu a {
  text-decoration: none;
  color: black;
}

menu a:hover {
  text-decoration: none;
}

figure {
  margin: 0;
}

menu {
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 30px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.96);
  min-height: 30px;
  overflow: hidden;
  padding: 0;
  min-width: 290px;
  max-width: 1920px;
  margin: auto;
}

p {
  line-height: 1.5;
  text-align: justify;
}

p.lettrine { 
      
}

p.lettrine:first-letter {
    float: left;
    /*font-size: 2.9em;*/
    font-size: 40px;
    line-height: 0.9;
    margin-right: 0.2em;
    margin-top: 4px;
}

p.lettrine span { 
  font-variant: small-caps; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

menu li {
  float: left;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  line-height: 30px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

menu li:hover {
  background-color: rgba(100, 100, 100, 0.3);
}

menu li.right {
  float: right;
}

.intro-box aside{
  list-style: none;
  width: 26%;
  margin-left: 23%;
  float: left;
}

.intro-aside {
  background-color: rgba(255, 255, 255, 0.9);
  margin-bottom: 10px;
}

.intro-aside-list {
  list-style: none;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;  
  text-align: right;
  line-height: 1.5em;
}

.intro-aside-titre {
  font-size: 50px;
  line-height: 54px;
  padding-top: 4px;
}

.intro-social {
  background-color: rgba(255, 255, 255, 0.9);
  height: 40px;
  padding: 10px;
}

.intro-social ul {
  display: inline-block;
  padding-top: 8px;
  width: 100%;
  padding: 0;
}

.intro-social li {
  text-align: center;
  width: 25%;
  float: left;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.intro-social li:hover {
  opacity: 0.9;
}

.intro-social img {
  width: 40px;
  height: 40px;
}

.all-box {
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 40px;
  padding-bottom: 35px;
  background-position-x: center;
  background-position-y: bottom;
}

.intro-box{
  background-image: url("../img/IMG_1488.jpg");
}

.parcours-box {
  background-image: url("../img/IMG_0053.jpg");
  padding-top: 35px;
  background-position-y: -40px;
  /*background-position-y: bottom;*/
}

.skills-box {
  background-image: url("../img/IMG_0210.jpg");
  padding-top: 35px;
  padding-bottom: 5px;
  background-position-y: top;
}

.all-text{
  width: 30%;
  margin-left: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 2% 5px 2%;
}



.all-titre  h2 {
  font-weight: 100;
  font-size: 40px;
  margin: 0 3% 20px 3%;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.6);
}

.skills-titre {
  color: white;
}

.parcours-text {
  width: 86%;
  margin-left: 5%;
}

.parcours-imgs {
  display: inline-block;
  margin: 20px 5% 0 5%;
}

.parcours-imgs li {
  width: 22%;
  float: left;
  margin-right: 4%;
  background-color: rgba(255, 255, 255, 0.9);
}

.parcours-imgs li.last {
  margin-right: 0;
}

.parcours-img {
  width: 100%;
  display: block;
}

.parcours-imgs figcaption {
  padding: 6px 8px 6px 8px;
  margin: 0;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
}

.skills-text {
  margin-left: 16%;
  margin-bottom: 30px;
}

.intro-pola {
  text-align: center;
}

.intro-pola-img {
  width: 100%;
}



.skills-text {
  margin-left: 6%;
  width: 500px;
}





@media (max-width: 1199px) and (min-width: 570px) {
  .all-box {
    background-size: 1200px;
    background-position-x: right;
  }

  .intro-text {
    width: 55%;
    margin-left: 38%;
  }

  .skills-text {
    width: 50%;
    margin-left: 5%;
  }

  .parcours-text {
    width: 88%;
    margin-left: 4%;
  }

  .parcours-imgs {
    margin: 20px 4% 0 4%;
  }

  .intro-box aside {
    width: 34%;
    margin-left: 3%;
  }

  .skills-box {
    background-position-x: center;
  }

  .intro-social {
    height: 30px;
  }

  .intro-social img {
    width: 30px;
    height: 30px;
  }

  .intro-aside-titre {
    font-size: 40px;
  }

  .intro-pola-img {
    width: 50%;
  }

}


@media (max-width: 569px) {
  
  body {
    font-size: 12px;
  }

  .visible-phone {
    display: block;
  }

  .all-box{

    background-size: 1000px;
    background-position-x: right;
  }

  .intro-box {
    padding-bottom: 15px;
  }

  .all-titre {
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4px;
    text-align: center;
  }

  .all-titre h2 {
    margin: 0px;
    font-size: 30px; 
    color: black;
  }

  .parcours-box {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .parcours-text {
    padding: 2px 2% 2px 2%;
  }

  .parcours-imgs {
    margin: 10px 2% 0 2%;
  }

  .skills-box {
    background-position-x: center;
  }

  .all-text {
    width: 92%;
    margin-left: 2%;
  }

  .intro-aside {
    margin-bottom: 8px;
  }

  .intro-box aside {
    width: 96%;
    margin-left: 2%;
    float: initial;
  }

  .intro-aside-titre {
    font-size: 35px;
  }

  .intro-social {
    height: 30px;
  }

  .intro-social img {
    width: 30px;
    height: 30px;
  }

  .intro-aside-list {
    margin-bottom: 6px;
    padding-top: 8px;
  }

  .intro-pola-img {
    width: 60%;
  }



}
























/*BigPC*/
@media (min-width: 1900px) {
  
}

/*PC*/
@media (max-width: 1899px) and (min-width: 1200px) {

}

/*Tablet*/
@media (max-width: 1199px) and (min-width: 760px) {

}

/*Phablet*/
@media (max-width: 759px) and (min-width: 570px) {

}

/*Smartphone*/
@media (max-width: 569px) and (min-width: 310px) {

}

/*Feature Phone*/
@media (max-width: 309px) {

}


